.hex-editor {
    position: relative;
    width: 100%;

    .infinite-render {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20px;
        .hex-bytes {
            user-select: none;
            cursor: text;

            & > div {
                line-height: 25px;

            }
            & > div > span {
                display: inline-block;
                width: 25px;
                text-align: center;

                &:hover {
                    background-color: rgb(216, 216, 216);
                }
            }
        }

        .hex-positions {
            div {
                line-height: 25px;
            }
        }
    }
}


.node-right {
    float: right;
    margin-right: 50px;

    // display: flex;
    // width: 100px;
    // justify-content: space-between;
    &>span {
        display: inline-block;
        width: 70px;
    }
}

.data-box {
    display: block;
    border: 2px solid grey;
    padding: 20px;
    cursor: pointer;
    pointer-events: fill;
    // box-sizing: content-box;
    margin-top: -1px;
    margin-left: -1px;

    &:hover:not(:has(.data-box:hover)) {
        border-color: black;
    }

    .data-box-header {
        display: flex;
        user-select: none;

        &:hover {
            background-color: grey;
        }
    }
}