@use "sass:math";

body {
    --color-danger: red
}

.light {
    --primary-color: #5e5bae;
    --secondary-color: #536390;
    --font-color: #242424;
    --font-secondary-color: #474747;
    --bg-color: #f5f5f5;
    --bg-strong-color: #fff;
    --heading-color: #292922;
    --border-color: #2d2d3c;
    --border-strong-color: #1e1e28;
}

.dark {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --font-secondary-color: #9797ae;
    --bg-color: #0f0f13;
    --bg-strong-color: #000000;
    --heading-color: #818cab;
    --border-color: #2d2d3c;
    --border-strong-color: #494960;
    color-scheme: dark;
}

$border-width: 1px;
$border: $border-width solid var(--border-color);

$toolbar-height: 40px;

html,
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    overflow: hidden;
}

h1 {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}

.flexv-item {
    flex: 1 1 auto; 
    height: 0px; 
    overflow-y: auto; 
    width: 100%;
}

.flexv {
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: var(--bg-strong-color);
    border: $border;
    // margin-bottom: -5px;
    box-sizing: border-box;
    // height: $toolbar-height;
    display: flex;
    flex-direction: row;
    align-items: center;

    .toolbar-item {
        background-color: var(--bg-strong-color);
        position: relative;
        height: $toolbar-height;
        padding: 0px math.div($toolbar-height, 2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: $border;
        box-sizing: border-box;
        white-space: nowrap;
        text-decoration: none;
        z-index: 100;
        gap: 5px;
        

        // margin-top: -$border-width -2;
        // margin-bottom: -$border-width -2;

        &.active {
            background-color: var(--bg-color);
            border-top: 3px solid var(--primary-color);
            border-bottom: $border-width solid var(--bg-color);
        }
    }

    .toolbar-menu {
        border-left: $border;
        border-right: $border;
        border-top: $border;

        background-color: var(--bg-strong-color);
        position: absolute;
        top: 100%;
        // left: -2%;
        right: -3%;

        &:not(.visible) {
            display: none;
        }

        .toolbar-item {
            border-bottom: $border;
            border-right: none;
        }
    }

    &>a.toolbar-item:hover {
        background-color: var(--bg-color);
        cursor: pointer;
    }
}

.FilesDragAndDrop {
    &:hover {
        background-color: var(--bg-strong-color);
    }

    .FilesDragAndDrop__area {
        width: 300px;
        height: 200px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        font-size: 24px;
        color: #555555;
        border: 2px #c3c3c3 dashed;
        border-radius: 12px;
        position: relative;
        cursor: pointer;


        .area__icon {
            font-size: 64px;
            margin-top: 20px;
        }
    }
}

.content {
    height: calc(100vh - $toolbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.resize-handle {
    width: 2px;
    border: 2px solid var(--bg-color);
    border-top-width: 0;
    border-bottom-width: 0;

    background-color: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
        color: var(--font-secondary-color);
    }
    transition: background-color 0.1s;
    transition: border-color 0.1s;
    &:hover {
        background-color: var(--border-strong-color);
        border-color: transparent;
    }
}

.panel {
    // border-left: $border;
    box-sizing: border-box;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    // margin: -1px;
}

.gh>span {
    margin-bottom: -3px;
}

.url-uploader {
    width: 100%;
    display: flex;
    gap: 20px;

}

input, select {
    // border-width: 2px;
    box-sizing: border-box;
    min-width: 50px;
    flex: 1;
    height: 25px;
    // padding: 0 10px;
}